awscli
beautifulsoup4
boto3
botocore
certifi
chardet
click
click-spinner
colorama
docutils
future
html5lib
idna
in-place
jmespath
pyasn1
python-dateutil
python-gitlab
PyYAML
requests
retrying
rsa
s3transfer
six
terraform-external-data
urllib3
webencodings
